@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@100&family=Shizuru&display=swap');

body {
    background: rgba(250, 250, 250, 0.78);
    font-size: 16px;
    font-weight: bold;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Shizuru', cursive;
    margin: 0px;
}

.categories {
    font-size: 25px;
    font-family: Bahnschrift, serif;
    padding: 5px;
}

.categories ul {
    display: flex;
    justify-content: space-around;
    background-color: #771eaa;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 70px;
    padding: 50px;
    color: white;
}

.content {
    font-family: 'League Gothic', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.products {
    background-color: cornsilk;
    display: flex;

}

.maingoods {
    display: flex;
    justify-content: center;
    color: white;
}
